{
    "parserOptions":{
        "ecmaVersion":2020,
        "sourceType":"module",
        "ecmaFeatures":{
            "jsx": true,
            "tsx": true
        }
    },
    "env":{ 
        "browser":true,
        "node":true,
        "es6": true
    },
    "extends":["plugin:prettier/recommended", "prettier/@typescript-eslint"],
    "plugins": ["import", "react-hooks"],
    "rules":{
        "no-param-reassign": "off"
    },
    "ignorePatterns" : ["dist/", "node_modules"] 

}